/* YOUR CUSTOM STYLES */
.contenido {
    margin: 0px;
    padding-left: 5px;
}

.title {
    text-align: center;
}

.footer-info {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    color: #bbbbbb;
    padding: 10px;
    text-align: center;
   
}

.spacio {
    width: 100%;
    height: 50px;
  
}

.spacio2 {
    padding: 5%;
}

.err {
    color: red;
    background: deeppink;
}

.parraf {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
}
.parrafo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}
.listas {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}
.textos{color: #1C2331;}
textarea{ 
    width: 500px; 
    min-width:500px; 
    max-width:500px; 
  
    height:200px; 
    min-height:200px;  
    max-height:200px;
  }
